<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>
<body>
    <table align="center" width="600">
        <tr>
            <td align="center">
                <h1>About Me</h1>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p>Hi, thank you for logging in. I am Akansha Mishra, a 5th-year integrated M.Tech Bioengineering student. I love painting and drawing, and here is one of my paintings:)</p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="{{ url_for('static', filename='Fluid_art.jpg') }}" style="max-width: 100%;">
            </td>
        </tr>
    </table>
</body>
</html>
